In [40]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np

In [41]:
def value_to_float(x):
    if type(x) == float or type(x) == int:
        return x
    if 'k' in x:
        if len(x) > 1:
            return float(x.replace('k', '')) * 1000
        return 1000.0
    return float(x)

In [42]:
def standardize(X):
    return (X-X.mean())/X.std()

In [43]:
df_i = pd.read_csv('income_per_person_gdppercapita_ppp_inflation_adjusted.csv', index_col=0)
dfh = pd.read_csv("hapiscore_whr.csv", index_col=0)
df_l = pd.read_csv('life_expectancy_years.csv', index_col=0)
df_c = pd.read_csv('continents.csv', sep=';')

In [44]:
df_i.columns = df_i.columns.astype(int)
df_l.columns = df_l.columns.astype(int)

In [45]:
df_i = df_i.reset_index()
df_l = df_l.reset_index()
dfh.columns = dfh.columns.astype(int)
dfh = dfh.reset_index()

In [46]:
dfh = dfh.melt(id_vars='country', var_name='year', value_name='happiness_rate')
df_i = df_i.melt(id_vars='country', var_name='year', value_name='income')

In [47]:
df_i['income'] = df_i['income'].apply(value_to_float)
# df_i['income'] = df_i['income'].apply(standardize)

In [48]:
df_l = df_l.melt(id_vars='country', var_name='year', value_name='lifeExp')
df_f = df_i.merge(dfh, on=['year','country'], how='inner')
df_f = df_f.merge(df_l, on=['year', 'country'], how='inner')
df_f = df_f.merge(df_c, on='country', how='inner')
df_f.head()

       country  year  income  happiness_rate  lifeExp continent
0  Afghanistan  2005  1290.0             NaN     57.6      Asia
1  Afghanistan  2006  1320.0             NaN     58.0      Asia
2  Afghanistan  2007  1460.0             NaN     58.5      Asia
3  Afghanistan  2008  1480.0            37.2     59.2      Asia
4  Afghanistan  2009  1760.0            44.0     59.9      Asia

In [49]:
# df_f.to_csv('test.csv')

# df_f.loc[df_f['year']==2006].sort_values(by=['happiness_rate']).to_csv('2006.csv')
# df_f.loc[df_f['year']==2012].sort_values(by=['happiness_rate']).to_csv('2012.csv')
# df_f.loc[df_f['year']==2019].sort_values(by=['happiness_rate']).to_csv('2019.csv')

# plt.figure(figsize=(40,40))

for i in range(2005, 2020):
    plt.figure(figsize=(10,8))
    df_subset = df_f.loc[df_f['year'] == i]

    g = sns.scatterplot(x='happiness_rate', hue='continent', size='income', y='lifeExp',  sizes=(2, 250), data=df_subset, alpha=0.6, linewidth=2)
    
    g.set(xlabel="Happiness Rate", ylabel = "Life Expectancy")
    g.set(xlim=(30,82))
    g.set(ylim=(50,86)) 
    plt.title('Year ' + str(i))
    plt.legend(loc='lower right', fontsize= 13)  
    China = df_f[(df_f['year']==i) & (df_f['country'] == 'China')]
    India = df_f[(df_f['year']==i) & (df_f['country'] == 'India')]
    USA = df_f[(df_f['year']==i) & (df_f['country'] == 'United States')]
    Germany = df_f[(df_f['year']==i) & (df_f['country'] == 'Germany')]
    Japan = df_f[(df_f['year']==i) & (df_f['country'] == 'Japan')]
    Costa_rica = df_f[(df_f['year']==i) & (df_f['country'] == 'Costa Rica')]
    Nigeria = df_f[(df_f['year']==i) & (df_f['country'] == 'Nigeria')]
    Afghanistan = df_f[(df_f['year']==i) & (df_f['country'] == 'Afghanistan')]
    Saudi_Arabia = df_f[(df_f['year']==i) & (df_f['country'] == 'Saudi Arabia')]

    plt.text(India['happiness_rate']+1.1,India['lifeExp'], 'India')
    plt.text(China['happiness_rate']+1.1,China['lifeExp'], 'China')
    plt.text(USA['happiness_rate']+1.1,USA['lifeExp'], 'USA')
    plt.text(Germany['happiness_rate']+1.1,Germany['lifeExp'], 'Germany')
    plt.text(Japan['happiness_rate']+1.1,Japan['lifeExp'], 'Japan')
    plt.text(Costa_rica['happiness_rate']+1.1,Costa_rica['lifeExp'], 'Costa Rica')
    plt.text(Nigeria['happiness_rate']+1.1,Nigeria['lifeExp'], 'Nigeria')
    plt.text(Afghanistan['happiness_rate']+1.1,Afghanistan['lifeExp'], 'Afghanistan')
    plt.text(Saudi_Arabia['happiness_rate']+1.1,Saudi_Arabia['lifeExp'], 'Saudi Arabia')

    plt.savefig(str(i) + '.png', dpi=100)
    plt.close()

posx and posy should be finite values
posx and posy should be finite values
posx and posy should be finite values
posx and posy should be finite values
posx and posy should be finite values
posx and posy should be finite values
posx and posy should be finite values
posx and posy should be finite values
posx and posy should be finite values
posx and posy should be finite values
posx and posy should be finite values
posx and posy should be finite values
posx and posy should be finite values
posx and posy should be finite values
posx and posy should be finite values
posx and posy should be finite values
posx and posy should be finite values
posx and posy should be finite values
posx and posy should be finite values
posx and posy should be finite values
posx and posy should be finite values
posx and posy should be finite values
posx and posy should be finite values
posx and posy should be finite values
posx and posy should be finite values
posx and posy should be finite values

In [50]:
import imageio

images = []

for i in range(2005, 2020):
    filename = '{}.png'.format(i)
    images.append(imageio.imread(filename))

imageio.mimsave('output.gif', images, fps=1)