In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import NMF

### Define a class for pre-processing and make DataFrame from URL from# each artist

In [5]:
class lyric:
    def artist(url):
        soup = BeautifulSoup(requests.get(url).text,'html.parser')
        table = soup.find('table', {'class':'tdata'})
        href_links = []
        lyric_links=[]
        lyrics=[] 
        for link in table.findAll('a'):
            href_links.append(link.get('href'))

        for i in href_links:
            if ([i.startswith('/sublyric/'),i.startswith('/lyric-lf/')]):
                i = 'https://www.lyrics.com' + i
                lyric_links.append(i)

        for t in lyric_links:
            i = (BeautifulSoup(requests.get(t).text,'html.parser').find(id='lyric-body-text')).get_text()
            lyrics.append(i)
        df = pd.DataFrame(lyrics)
        df.rename(columns={0: 'lyric'}, inplace=True)
        df.drop_duplicates(subset ='lyric',keep = 'first' , inplace = True, ignore_index=True)
        df['lyric']=df['lyric'].str.replace('\W', ' ')
        return df

In [6]:
Billie_Rogue = lyric
Billie_Rogue = Billie_Rogue.artist('https://www.lyrics.com/artist/Billie-Rogue/2137945805')

<ipython-input-5-b2c6f8d4db10>:22: FutureWarning: The default value of regex will change from True to False in a future version.
  df['lyric']=df['lyric'].str.replace('\W', ' ')

In [7]:
K_Ray = lyric
K_Ray = K_Ray.artist('https://www.lyrics.com/artist/K.-Ray/2137906147')

<ipython-input-5-b2c6f8d4db10>:22: FutureWarning: The default value of regex will change from True to False in a future version.
  df['lyric']=df['lyric'].str.replace('\W', ' ')

### Add a column to each DataFrame specifying artist category + Concatinate both

In [8]:
Billie_Rogue['Artist'] = 0
K_Ray['Artist'] = 1

In [9]:
frames = [Billie_Rogue, K_Ray]

df = pd.concat(frames, ignore_index=True)

### Using TFIDF for preprocess-tokenise-lemmatise-vectorise

In [10]:
vectorizer_tf = TfidfVectorizer(stop_words='english')
Y = vectorizer_tf.fit_transform(df['lyric'])
df_tfidf = pd.DataFrame(Y.toarray(),columns=vectorizer_tf.get_feature_names())

### Using NMF as matrix decomposition algorithms for topic extraction

In [11]:
model = NMF(n_components=15, init='random', random_state=0)
W = model.fit_transform(df_tfidf)
H = model.components_

In [12]:
components_df = pd.DataFrame(model.components_, columns=vectorizer_tf.get_feature_names())
components_df

,10,11,12,14,17,23,40,420,45,80,...,yard,yeah,year,years,yelling,yes,yo,younger,zimmerman,zones
0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.004616,0.000000,0.000000e+00,0.000000,...,0.000000,0.158182,0.000000,0.004616,0.000000e+00,0.000000,0.000000,2.942000e-01,0.000000,0.000000
1,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000043,0.000000,0.000000,0.000000,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000052,0.000000e+00,0.000000,0.000043
2,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.010523,0.182415,0.000000e+00,0.000000,...,0.000000,1.251603,0.142029,0.010523,0.000000e+00,0.000000,0.203572,0.000000e+00,0.000000,0.000000
3,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.272621,...,0.272621,0.284074,0.000000,0.000000,0.000000e+00,0.545242,0.000000,0.000000e+00,0.000000,0.000000
4,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.002200,0.000000,0.000000e+00,0.000000,...,0.000000,0.204750,0.000000,0.002200,0.000000e+00,0.000000,0.463966,0.000000e+00,0.000000,0.000000
5,1.420955e-08,0.000000e+00,0.000000,0.000000,0.000000,1.733864,0.009198,0.000000,0.000000e+00,0.000000,...,0.000000,0.009462,0.000000,0.009198,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000
6,0.000000e+00,0.000000e+00,0.000000,0.000000,0.549023,0.000000,0.332174,0.000000,0.000000e+00,0.000000,...,0.000000,1.311414,0.000000,0.332174,0.000000e+00,0.000000,0.616880,0.000000e+00,0.000000,0.549023
7,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,...,0.000000,0.000000,0.231658,0.000000,0.000000e+00,0.000000,0.893385,0.000000e+00,0.000000,0.000000
8,1.365548e-08,0.000000e+00,0.000000,0.316811,0.000000,0.000000,0.001805,0.000000,0.000000e+00,0.000000,...,0.000000,0.001857,0.000000,0.001805,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000
9,1.561116e-01,1.081543e-08,0.000000,0.000000,0.003012,0.000000,0.000000,0.000000,2.163086e-08,0.000000,...,0.000000,0.240929,0.000000,0.000000,1.081543e-08,0.000000,0.473035,0.000000e+00,0.000000,0.003012
10,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000175,0.000000,0.000000e+00,0.000000,...,0.000000,0.000181,0.000000,0.000175,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000
11,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.001266,0.000000,0.000000e+00,0.000000,...,0.000000,0.246744,0.183456,0.001266,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000
12,1.139661e-09,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,1.166330e-08,0.000000,0.000000
13,0.000000e+00,1.395637e-01,0.000000,0.000000,0.000000,0.000000,0.004168,0.000000,2.791274e-01,0.000000,...,0.000000,0.004273,0.000000,0.004168,1.395637e-01,0.000000,0.077810,0.000000e+00,0.000000,0.000000
14,0.000000e+00,0.000000e+00,0.265383,0.000000,0.000000,0.000000,0.003937,0.000000,0.000000e+00,0.000000,...,0.000000,0.004050,0.000000,0.003937,0.000000e+00,0.000000,0.000000,0.000000e+00,0.265383,0.000000

### To evoke 10 most higher valued words for each lyric

In [16]:
for lyric in range(components_df.shape[0]):
    word = components_df.iloc[lyric]
    print(f'For topic {lyric+1} the words with the highest value are:')
    print(word.nlargest(10))
    print('\n')

For topic 1 the words with the highest value are:
trust       1.375492
head        1.375253
tired       1.176800
trying      1.077291
need        0.718750
ain         0.628550
humans      0.588400
sex         0.588400
trusting    0.588400
girl        0.579017
Name: 0, dtype: float64


For topic 2 the words with the highest value are:
skies          1.017033
belong         0.726452
let            0.649190
closer         0.339656
fly            0.339630
rise           0.290581
silverlight    0.290581
step           0.290581
sunburn        0.290581
born           0.253059
Name: 1, dtype: float64


For topic 3 the words with the highest value are:
smoke      2.736226
want       1.431980
yeah       1.251603
got        0.638203
bro        0.509955
gone       0.496246
gas        0.476448
blowing    0.475860
good       0.473133
words      0.425803
Name: 2, dtype: float64


For topic 4 the words with the highest value are:
order       1.899348
tryna       1.899348
drive       1.635726
looking     1.474703
sir         1.424511
eat         1.090484
holding     1.090484
sorry       1.090484
apple       0.817863
complete    0.817863
Name: 3, dtype: float64


For topic 5 the words with the highest value are:
ignore    1.554863
story     1.554863
free      1.354089
night     1.354089
sea       1.354061
place     1.213339
float     1.209633
far       1.209473
know      1.171480
knife     1.166147
Name: 4, dtype: float64


For topic 6 the words with the highest value are:
learned      2.167330
23           1.733864
debate       1.733864
empathy      1.733864
gonna        1.733864
oughta       1.733864
everybody    1.509977
patiently    1.509860
waiting      1.509860
changed      1.509859
Name: 5, dtype: float64


For topic 7 the words with the highest value are:
mind     2.231907
girl     1.714082
like     1.622927
time     1.450439
yeah     1.311414
kyrie    1.098045
post     1.098045
shot     1.098045
gone     1.086817
point    1.004801
Name: 6, dtype: float64


For topic 8 the words with the highest value are:
thang    2.675521
mane     2.588934
water    1.189120
throw    1.158288
like     1.148837
right    1.052660
ass      1.035574
clap     1.035574
make     0.996211
gone     0.929306
Name: 7, dtype: float64


For topic 9 the words with the highest value are:
naked         1.584056
bone          0.792028
flesh         0.792028
wish          0.723330
born          0.413854
14            0.316811
comfort       0.316811
dense         0.316811
disappoint    0.316811
hugging       0.316811
Name: 8, dtype: float64


For topic 10 the words with the highest value are:
bro        2.432044
ain        0.940909
yo         0.473035
money      0.469146
sleep      0.405898
shit       0.379225
niggas     0.375317
gotta      0.350648
know       0.331530
atlanta    0.312223
Name: 9, dtype: float64


For topic 11 the words with the highest value are:
sow           4.426885
lulladie      2.213442
eyes          1.927627
hands         1.293611
suffering     1.106721
barricades    0.553361
bliss         0.553361
breaks        0.553361
brush         0.553361
embrace       0.553361
Name: 10, dtype: float64


For topic 12 the words with the highest value are:
em       1.000645
days     0.706588
ways     0.706588
went     0.617574
men      0.615276
like     0.606892
women    0.550550
ain      0.504684
bro      0.500097
boys     0.471059
Name: 11, dtype: float64


For topic 13 the words with the highest value are:
pursuit       2.256305
forget        2.256305
blissfully    0.518170
jaded         0.518170
wandering     0.518170
wondering     0.451261
coming        0.451261
arrogant      0.259085
atlas         0.259085
boredom       0.259085
Name: 12, dtype: float64


For topic 14 the words with the highest value are:
let       1.792985
ya        1.087123
just      0.824273
freak     0.607712
act       0.558255
trying    0.439695
store     0.418691
sumin     0.418691
right     0.395157
fina      0.359809
Name: 13, dtype: float64


For topic 15 the words with the highest value are:
black      1.447610
running    1.155574
susie      1.061531
home       0.796148
white      0.796148
let        0.739771
bust       0.693294
just       0.653746
homie      0.620314
don        0.604619
Name: 14, dtype: float64

### Test with sample

In [133]:
new_sample = """We shooting dice in the section where the Bacardi at
Now the clerk mad at us yelling hurry up and buy """
 
# Transform the TF-IDF
X_new = vectorizer_tf.transform([new_sample])

# Transform the TF-IDF: nmf_features
nmf_features = model.transform(X_new)
 
pd.DataFrame(nmf_features)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.0,0.0,0.0,0.005985,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.038132,0.0