### Exercises

1. Load the first 3 suppliers from the database to pandas and print the result
2. Load data from a CSV file to the database (pick your choice of data)
3. postgres -> pandas -> postgres
    - Load a table from the database to pandas
    - Add a new column that is based from an old column
    - Save the modified table to a new table name in postgres

In [73]:
!pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in /Users/kashi/opt/anaconda3/lib/python3.8/site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in /Users/kashi/opt/anaconda3/lib/python3.8/site-packages (from SQLAlchemy) (1.0.0)

Might need to install these.

In [74]:
!pip install psycopg2
!pip install psycopg2-binary

Requirement already satisfied: psycopg2 in /Users/kashi/opt/anaconda3/lib/python3.8/site-packages (2.9.3)
Requirement already satisfied: psycopg2-binary in /Users/kashi/opt/anaconda3/lib/python3.8/site-packages (2.9.3)

In [75]:
from sqlalchemy import create_engine
import psycopg2
import pandas as pd

In [76]:
HOST = 'localhost'
PORT = '5432'
USERNAME = 'azadeh'
PASSWORD = '' 
DB = 'northwind'

In [77]:
conn_string = f'postgresql+psycopg2://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/{DB}'

conn_string_mac = f'postgresql+psycopg2://{HOST}:{PORT}/{DB}'

In [78]:
conn_string_mac

'postgresql+psycopg2://localhost:5432/northwind'

In [79]:
engine = create_engine(conn_string_mac)

1. Load the first 3 suppliers from the database to pandas and print the result

In [80]:
query6="SELECT * FROM suppliers LIMIT 3"
first_3suppliers = pd.read_sql(query6, engine)
first_3suppliers.head()

,supplierid,companyname,contactname,contacttitle,address,city,region,postalcode,country,phone,fax,homepage
0,1,Exotic Liquids,Charlotte Cooper,Purchasing Manager,49 Gilbert St.,London,None,EC1 4SD,UK,(171) 555-2222,None,None
1,2,New Orleans Cajun Delights,Shelley Burke,Order Administrator,P.O. Box 78934,New Orleans,LA,70117,USA,(100) 555-4822,None,#CAJUN.HTM#
2,3,Grandma Kelly's Homestead,Regina Murphy,Sales Representative,707 Oxford Rd.,Ann Arbor,MI,48104,USA,(313) 555-5735,(313) 555-3349,None

2. Load data from a CSV file to the database (pick your choice of data)

In [82]:
new_table = pd.read_csv('order_details.csv')
new_table.to_sql('order_details_new', engine)

3. postgres -> pandas -> postgres
    - Load a table from the database to pandas
    - Add a new column that is based from an old column
    - Save the modified table to a new table name in postgres

In [83]:
query7="SELECT * FROM employees"
employees = pd.read_sql(query7, engine)
employees.head()

,employeeid,lastname,firstname,title,titleofcourtesy,birthdate,hiredate,address,city,region,postalcode,country,homephone,extension,photo,notes,reportsto,photopath
0,1,Davolio,Nancy,Sales Representative,Ms.,1948-12-08 00:00:00.000,1992-05-01 00:00:00.000,507 20th Ave. E. Apt. 2A,Seattle,WA,98122,USA,(206) 555-9857,5467,0x151C2F00020000000D000E0014002100FFFFFFFF4269...,Education includes a BA in psychology from Col...,2.0,http://accweb/emmployees/davolio.bmp
1,2,Fuller,Andrew,Vice President Sales,Dr.,1952-02-19 00:00:00.000,1992-08-14 00:00:00.000,908 W. Capital Way,Tacoma,WA,98401,USA,(206) 555-9482,3457,0x151C2F00020000000D000E0014002100FFFFFFFF4269...,Andrew received his BTS commercial in 1974 and...,NaN,http://accweb/emmployees/fuller.bmp
2,3,Leverling,Janet,Sales Representative,Ms.,1963-08-30 00:00:00.000,1992-04-01 00:00:00.000,722 Moss Bay Blvd.,Kirkland,WA,98033,USA,(206) 555-3412,3355,0x151C2F00020000000D000E0014002100FFFFFFFF4269...,Janet has a BS degree in chemistry from Boston...,2.0,http://accweb/emmployees/leverling.bmp
3,4,Peacock,Margaret,Sales Representative,Mrs.,1937-09-19 00:00:00.000,1993-05-03 00:00:00.000,4110 Old Redmond Rd.,Redmond,WA,98052,USA,(206) 555-8122,5176,0x151C2F00020000000D000E0014002100FFFFFFFF4269...,Margaret holds a BA in English literature from...,2.0,http://accweb/emmployees/peacock.bmp
4,5,Buchanan,Steven,Sales Manager,Mr.,1955-03-04 00:00:00.000,1993-10-17 00:00:00.000,14 Garrett Hill,London,None,SW1 8JR,UK,(71) 555-4848,3453,0x151C2F00020000000D000E0014002100FFFFFFFF4269...,Steven Buchanan graduated from St. Andrews Uni...,2.0,http://accweb/emmployees/buchanan.bmp

In [84]:
type(employees['birthdate'])

pandas.core.series.Series

In [85]:
var =[]
for time in employees['birthdate']:
    date_time_obj = datetime.datetime.strptime(time, '%Y-%m-%d %H:%M:%S.%f')
    var.append(date_time_obj)
var

[datetime.datetime(1948, 12, 8, 0, 0),
 datetime.datetime(1952, 2, 19, 0, 0),
 datetime.datetime(1963, 8, 30, 0, 0),
 datetime.datetime(1937, 9, 19, 0, 0),
 datetime.datetime(1955, 3, 4, 0, 0),
 datetime.datetime(1963, 7, 2, 0, 0),
 datetime.datetime(1960, 5, 29, 0, 0),
 datetime.datetime(1958, 1, 9, 0, 0),
 datetime.datetime(1966, 1, 27, 0, 0)]

In [86]:
from datetime import datetime

currentYear = datetime.now().year

age = []
i=0
for i in range(i,len(var)):
   age1= currentYear - var[i].timetuple().tm_year
   age.append(age1)

In [87]:
employees['age']=age

In [88]:
employees.head()

,employeeid,lastname,firstname,title,titleofcourtesy,birthdate,hiredate,address,city,region,postalcode,country,homephone,extension,photo,notes,reportsto,photopath,age
0,1,Davolio,Nancy,Sales Representative,Ms.,1948-12-08 00:00:00.000,1992-05-01 00:00:00.000,507 20th Ave. E. Apt. 2A,Seattle,WA,98122,USA,(206) 555-9857,5467,0x151C2F00020000000D000E0014002100FFFFFFFF4269...,Education includes a BA in psychology from Col...,2.0,http://accweb/emmployees/davolio.bmp,74
1,2,Fuller,Andrew,Vice President Sales,Dr.,1952-02-19 00:00:00.000,1992-08-14 00:00:00.000,908 W. Capital Way,Tacoma,WA,98401,USA,(206) 555-9482,3457,0x151C2F00020000000D000E0014002100FFFFFFFF4269...,Andrew received his BTS commercial in 1974 and...,NaN,http://accweb/emmployees/fuller.bmp,70
2,3,Leverling,Janet,Sales Representative,Ms.,1963-08-30 00:00:00.000,1992-04-01 00:00:00.000,722 Moss Bay Blvd.,Kirkland,WA,98033,USA,(206) 555-3412,3355,0x151C2F00020000000D000E0014002100FFFFFFFF4269...,Janet has a BS degree in chemistry from Boston...,2.0,http://accweb/emmployees/leverling.bmp,59
3,4,Peacock,Margaret,Sales Representative,Mrs.,1937-09-19 00:00:00.000,1993-05-03 00:00:00.000,4110 Old Redmond Rd.,Redmond,WA,98052,USA,(206) 555-8122,5176,0x151C2F00020000000D000E0014002100FFFFFFFF4269...,Margaret holds a BA in English literature from...,2.0,http://accweb/emmployees/peacock.bmp,85
4,5,Buchanan,Steven,Sales Manager,Mr.,1955-03-04 00:00:00.000,1993-10-17 00:00:00.000,14 Garrett Hill,London,None,SW1 8JR,UK,(71) 555-4848,3453,0x151C2F00020000000D000E0014002100FFFFFFFF4269...,Steven Buchanan graduated from St. Andrews Uni...,2.0,http://accweb/emmployees/buchanan.bmp,67

In [90]:
employees.to_sql('employees_new', engine)