# Define Business Goal

In this project, you will use a machine learning model to predict passenger survival on the Titanic.

# Get Data & Exploring Titanic Dataset

I try to understand the data better in order to adjust my feature engineering in the Training section of this Notebook

In [4]:
cd ..

/Users/oguzhanbekar/OneDrive/Spiced/euclidean-eukalyptus-student-code/02_week

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import KBinsDiscretizer,FunctionTransformer,MinMaxScaler,OneHotEncoder,StandardScaler
from sklearn.pipeline import make_pipeline,Pipeline
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier  
from sklearn.metrics import roc_curve, roc_auc_score

In [5]:
df = pd.read_csv('data/train.csv',index_col=0)

In [6]:
del df['Ticket']

In [7]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,NaN,S

In [8]:
len(df[(df['Pclass']==1)&(df['Survived']==1)])/len(df[df['Pclass']==1])

0.6296296296296297

In [ ]:
sns.countplot(x=df['Pclass'],hue=df['Sex'])

In [ ]:
sns.histplot(x=df['Fare'],bins=25)

In [ ]:
df['SibSp'].value_counts()

In [ ]:
df[['SibSp', 'Survived']].groupby('SibSp', as_index = False).mean().sort_values(by = 'Survived', ascending = False)

In [ ]:
sns.heatmap(data=df[['Survived','Age','SibSp','Fare']].corr(),annot = True, fmt = '.2f', cmap = 'coolwarm')

In [ ]:
# Create a table counting the number of surviving/dead passengers separately for 1st/2nd/3rd class and male/female.
grouped_class = df.groupby(['Survived','Pclass']).size().reset_index(name='counts')

In [ ]:
df['Cabin']

In [ ]:
sns.pairplot(df)

### Will do this calculation later

In [9]:
cols = df['Cabin'].str

In [10]:
b = '2'

In [ ]:
isinstance(int(b), int) # True

In [ ]:
i = 0
row = []

for i in cols[i]:
    if isinstance(int(cols[i]), str):
        
    i += 1

In [ ]:
df.head()

In [ ]:
sns.countplot(data=df,x='cabin_two',hue='Survived')

In [ ]:
sns.histplot(data=df,x='Age',y='Survived',bins=10)

In [ ]:
df['Cabin'].nunique

# Define X and y

### With company or not

In [11]:
df['SibParch'] = df['SibSp'] + df['Parch']

In [12]:
df['SibParch'].unique()

array([ 1,  0,  4,  2,  6,  5,  3,  7, 10])

In [13]:
df['SibParch'] = df['SibParch'].replace([2],[1])
df['SibParch'] = df['SibParch'].replace([3],[1])
df['SibParch'] = df['SibParch'].replace([4],[1])
df['SibParch'] = df['SibParch'].replace([5],[1])
df['SibParch'] = df['SibParch'].replace([6],[1])
df['SibParch'] = df['SibParch'].replace([7],[1])
df['SibParch'] = df['SibParch'].replace([10],[1])

### Cabin Letter creation

In [14]:
df['cabin_letter'] = df['Cabin'].str[0]

In [15]:
del df['Cabin']

In [16]:
df['cabin_letter'].isnull().sum()

687

In [17]:
del df['Parch']

In [18]:
type(df.iloc[3,3])

str

In [19]:
type(df.iloc[3,-2])

numpy.int64

In [20]:
# split to X, and y
X = df.iloc[:,1:]
y = df['Survived']

In [21]:
mode = df['Embarked'].dropna().mode()[0]
df['Embarked'].fillna(mode, inplace = True)

### Transformer

In [22]:
# feature engineering for numericals
age_feature = ["Age"]

# create a sequential pipeline 
# output of one step will be input to the next 
age_transformer = make_pipeline(
    SimpleImputer(strategy="mean"), 
    StandardScaler()    
)

# feature engineering for numericals
fare_feature = [ "Fare"]

# create a sequential pipeline 
# output of one step will be input to the next 
fare_transformer = make_pipeline(
    SimpleImputer(strategy="mean"), 
    MinMaxScaler()
    )

In [23]:
# feature engineering for categorical
categorical_features = ["Embarked", "Sex", "Pclass", "cabin_letter","SibParch"]

# handle unknown means it will ignore nan's if it finds them
categorical_transformer = OneHotEncoder(handle_unknown="ignore")

In [24]:
def name_length(df):
    length = df[df.columns[0]].str.len()
    return length.values.reshape(-1, 1)

In [25]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Fare,Embarked,SibParch,cabin_letter
PassengerId,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,7.2500,S,1,NaN
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,71.2833,C,1,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,7.9250,S,0,NaN
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,53.1000,S,1,C
5,0,3,"Allen, Mr. William Henry",male,35.0,0,8.0500,S,0,NaN

In [26]:
preprocessor = ColumnTransformer(
    transformers=[
        ("age", age_transformer, age_feature),
        ("fare", fare_transformer, fare_feature),
        ("cat", categorical_transformer, categorical_features),
        ('name', FunctionTransformer(name_length), ['Name']),
#         ('do nothing','passthrough',['Name'])
    ],
    
)

### Pipelines

In [27]:
# create the model pipeline
pipeline = make_pipeline(preprocessor, LogisticRegression(max_iter=300))
pipeline_rf = make_pipeline(preprocessor, RandomForestClassifier(n_estimators=70,max_depth=2))

### Split train and test data

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [29]:
# fit the pipeline to training data
pipeline.fit(X_train, y_train)
pipeline_rf.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('age',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer()),
                                                                  ('standardscaler',
                                                                   StandardScaler())]),
                                                  ['Age']),
                                                 ('fare',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer()),
                                                                  ('minmaxscaler',
                                                                   MinMaxScaler())]),
                                                  ['Fare']),
                                                 ('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['Embarked', 'Sex', 'Pclass',
                                                   'cabin_letter',
                                                   'SibParch']),
                                                 ('name',
                                                  FunctionTransformer(func=<function name_length at 0x7fcd73510ca0>),
                                                  ['Name'])])),
                ('randomforestclassifier',
                 RandomForestClassifier(max_depth=2, n_estimators=70))])

In [30]:
pipeline.score(X_train,y_train),pipeline_rf.score(X_train,y_train)

(0.8188622754491018, 0.7799401197604791)

In [31]:
# calculate the accuracy score from training data
print("LogReg model score: %.3f" % pipeline.score(X_train, y_train))
print("model score: %.3f" % pipeline_rf.score(X_train, y_train))

# calculate the accuracy score from test data
print("model score: %.3f" % pipeline.score(X_test, y_test))
print("model score: %.3f" % pipeline_rf.score(X_test, y_test))

# get predictions from the pipeline
print(pipeline.predict(X_test))
print(pipeline_rf.predict(X_test))

# get prediction probabilities from the pipeline 
print(pipeline.predict_proba(X_test)[:, 1])
print(pipeline_rf.predict_proba(X_test)[:, 1])
y_score1 = pipeline.predict_proba(X_test)[:, 1]
y_score2 = pipeline_rf.predict_proba(X_test)[:, 1]

LogReg model score: 0.819
model score: 0.780
model score: 0.803
model score: 0.731
[0 1 1 0 0 0 0 0 0 1 0 0 0 0 1 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0
 0 1 0 0 1 1 1 0 1 0 1 1 0 1 1 1 1 0 1 0 0 1 0 1 0 1 1 0 1 1 0 0 1 1 1 0 1
 0 0 0 1 0 1 1 1 1 1 0 1 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 0 1 0 0 0 1 0 0 1 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 1 1 0
 0 1 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 1 1 0 1 0 0 0 1 1
 1 0 1 0 0 0 1 1 1 1 1 1 1 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 1 1 1 1 0 0 0 0 0
 0]
[0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1
 0 1 0 0 1 0 0 0 1 0 1 1 0 1 1 1 1 1 1 0 0 1 0 0 0 1 1 0 1 1 1 0 1 1 0 0 1
 0 0 0 1 0 0 1 1 0 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 1 0 0 1 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 1 1 0
 0 1 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 1 1
 0 0 0 0 0 0 0 1 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 1 0 0 0 0 0
 0]
[0.06610199 0.81735689 0.60679268 0.14590658 0.1709837  0.09491011
 0.20804135 0.21775068 0.36255549 0.68889992 0.07552435 0.08667315
 0.11763936 0.08915719 0.69492765 0.74044787 0.19359708 0.22235289
 0.69615695 0.13018758 0.95317494 0.12045433 0.27344085 0.35407469
 0.05689433 0.10241988 0.09068158 0.16621956 0.18703618 0.38665027
 0.80078382 0.89247081 0.04907662 0.03203267 0.14182277 0.16365238
 0.45400491 0.14496054 0.75493568 0.18181263 0.22633184 0.53062512
 0.62068299 0.62214022 0.11669033 0.89788526 0.09491879 0.54908485
 0.78643038 0.20330227 0.80699694 0.99056777 0.78953313 0.63991585
 0.43116609 0.5155046  0.31887604 0.08796841 0.70219502 0.1532087
 0.56615167 0.31223879 0.98039462 0.85642483 0.119827   0.63525558
 0.94948734 0.40384963 0.38822938 0.72694711 0.99625882 0.56016417
 0.27936096 0.89249337 0.41861387 0.10132739 0.31814729 0.96145183
 0.13466859 0.53055938 0.95708719 0.93652814 0.74641335 0.55122042
 0.44973416 0.64739782 0.38544802 0.48527701 0.04890729 0.13162386
 0.65570947 0.03920715 0.07156722 0.89857167 0.15161675 0.17731223
 0.03852906 0.05448647 0.14327178 0.09864945 0.27323511 0.32163927
 0.24275521 0.22885883 0.28836591 0.37792072 0.2406929  0.39314872
 0.20767756 0.07577914 0.10960355 0.10691293 0.88853187 0.32249801
 0.56259726 0.45910916 0.2219925  0.11016317 0.57877376 0.2721451
 0.0774391  0.98648518 0.87680542 0.08687157 0.74550891 0.13082
 0.4380385  0.75294443 0.11669033 0.45925466 0.27771577 0.13083325
 0.20095647 0.14594515 0.05975737 0.13866472 0.04975952 0.06877387
 0.26333904 0.82938035 0.08580541 0.89931276 0.67734802 0.44115796
 0.15216853 0.62773279 0.88881169 0.11341157 0.31549553 0.58434302
 0.63126283 0.79062909 0.12962871 0.22302971 0.10729103 0.36681805
 0.81547327 0.13440138 0.08278671 0.04026108 0.11411867 0.35631059
 0.08465368 0.08239461 0.25863364 0.39505985 0.0980036  0.63311833
 0.25485928 0.59203302 0.07916526 0.13390204 0.06563291 0.13076056
 0.03994795 0.03816822 0.9566615  0.85714176 0.4734134  0.83516934
 0.12553426 0.41834828 0.05386151 0.68847396 0.90208887 0.66893123
 0.14252651 0.52351378 0.08523276 0.21945544 0.12829097 0.53816369
 0.95870215 0.58722231 0.95086582 0.61040074 0.52112107 0.65901664
 0.0633449  0.14953516 0.23618204 0.64398125 0.11358685 0.41664124
 0.10566522 0.67546131 0.43451023 0.05699781 0.32791167 0.05118965
 0.21099045 0.64010256 0.39143295 0.57489992 0.89767199 0.57629248
 0.80627251 0.45398516 0.12485979 0.07981915 0.10480522 0.09429117
 0.17256667]
[0.1979274  0.51305131 0.54693844 0.4097097  0.24439217 0.17910065
 0.30126654 0.36501441 0.31010147 0.48682162 0.17287798 0.17540064
 0.24186951 0.19272288 0.4738577  0.614238   0.2455331  0.25362857
 0.49127592 0.36132164 0.71065371 0.2052419  0.2341391  0.41633586
 0.17287798 0.25078612 0.17910065 0.22644088 0.21711768 0.4475125
 0.55647036 0.70022888 0.17287798 0.17287798 0.25078612 0.21711768
 0.57153768 0.18890425 0.57678199 0.29891668 0.31192187 0.51501274
 0.4738577  0.41849731 0.17287798 0.74517813 0.17910065 0.51464124
 0.68639581 0.2341391  0.64112849 0.80615535 0.52799189 0.55927333
 0.52402385 0.54350545 0.25814514 0.18890425 0.59860601 0.1973412
 0.46416535 0.3303552  0.79897762 0.56441837 0.1973412  0.52236674
 0.74754881 0.55131487 0.23757513 0.71330553 0.79897762 0.46416535
 0.23931044 0.72808563 0.34181389 0.19910346 0.25059453 0.59208815
 0.2341391  0.48812635 0.73581474 0.76550215 0.48533513 0.614238
 0.34177705 0.58367266 0.47112846 0.46416535 0.24505109 0.24406317
 0.4490271  0.17287798 0.17287798 0.76822258 0.1973412  0.2052419
 0.17287798 0.19910346 0.18890425 0.18890425 0.51547735 0.39650308
 0.37977559 0.30754252 0.4475125  0.4217055  0.25219776 0.4217055
 0.28880087 0.1979274  0.17287798 0.27064326 0.71130926 0.3726831
 0.46051902 0.4475125  0.21711768 0.17287798 0.51464124 0.27475132
 0.17287798 0.67262395 0.56111618 0.21711768 0.5581194  0.1973412
 0.38846122 0.54890748 0.17287798 0.478434   0.23757513 0.1973412
 0.30754252 0.21711768 0.17287798 0.17910065 0.22620841 0.17287798
 0.28666269 0.63237506 0.17287798 0.59391366 0.51133904 0.41725235
 0.19706751 0.53724609 0.78192615 0.30323271 0.41794799 0.51133904
 0.51328927 0.6979102  0.17910065 0.25085625 0.18104125 0.46382121
 0.56715787 0.24470182 0.17287798 0.21335603 0.21711768 0.41865318
 0.17287798 0.17287798 0.29423027 0.4475125  0.39571984 0.53459051
 0.404409   0.41849731 0.18373291 0.28992046 0.17287798 0.18890425
 0.21032666 0.22803691 0.71614749 0.53847914 0.43158683 0.70022888
 0.27289904 0.49139677 0.22620841 0.53444313 0.59088282 0.4883507
 0.17910065 0.34054968 0.24846585 0.2103782  0.1973412  0.41408839
 0.77540192 0.47865835 0.68979445 0.53724609 0.43981515 0.53009622
 0.23663087 0.18890425 0.27475132 0.47717187 0.17910065 0.49457812
 0.27289904 0.48280649 0.33027817 0.17287798 0.4475125  0.17287798
 0.20168905 0.63842179 0.38137225 0.58367266 0.72075975 0.45720485
 0.7590766  0.4475125  0.17910065 0.18890425 0.17287798 0.18890425
 0.25362857]

In [32]:
X_train.head()

,Pclass,Name,Sex,Age,SibSp,Fare,Embarked,SibParch,cabin_letter
PassengerId,,,,,,,,,
611,3,"Andersson, Mrs. Anders Johan (Alfrida Konstant...",female,39.0,1,31.275,S,1,NaN
749,1,"Marvin, Mr. Daniel Warner",male,19.0,1,53.100,S,1,D
62,1,"Icard, Miss. Amelie",female,38.0,0,80.000,NaN,0,B
378,1,"Widener, Mr. Harry Elkins",male,27.0,0,211.500,C,1,C
523,3,"Lahoud, Mr. Sarkis",male,NaN,0,7.225,C,0,NaN

### Preparing Predictions Test Data

In [33]:
df_test = pd.read_csv('data/test.csv')

In [34]:
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [35]:
df_test['SibParch'] = df_test['SibSp'] + df_test['Parch']

df_test['SibParch'].unique()

array([ 0,  1,  2,  4,  3,  5,  7,  6, 10])

In [36]:
df_test['SibParch'] = df_test['SibParch'].replace([2],[1])
df_test['SibParch'] = df_test['SibParch'].replace([3],[1])
df_test['SibParch'] = df_test['SibParch'].replace([4],[1])
df_test['SibParch'] = df_test['SibParch'].replace([5],[1])
df_test['SibParch'] = df_test['SibParch'].replace([6],[1])
df_test['SibParch'] = df_test['SibParch'].replace([7],[1])
df_test['SibParch'] = df_test['SibParch'].replace([10],[1])

In [37]:
df_test['cabin_letter'] = df_test['Cabin'].str[0]

In [38]:
df_test.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'SibParch', 'cabin_letter'],
      dtype='object')

In [39]:
X_train.columns

Index(['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Fare', 'Embarked', 'SibParch',
       'cabin_letter'],
      dtype='object')

In [40]:
df_test = df_test.set_index('PassengerId')

In [41]:
df_test.drop(['Ticket','Parch'],axis=1,inplace=True)

In [42]:
column_names = ['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Fare', 'Embarked', 'SibParch',
       'cabin_letter']

df_test = df_test.reindex(columns=column_names)

In [43]:
X_train.head()

,Pclass,Name,Sex,Age,SibSp,Fare,Embarked,SibParch,cabin_letter
PassengerId,,,,,,,,,
611,3,"Andersson, Mrs. Anders Johan (Alfrida Konstant...",female,39.0,1,31.275,S,1,NaN
749,1,"Marvin, Mr. Daniel Warner",male,19.0,1,53.100,S,1,D
62,1,"Icard, Miss. Amelie",female,38.0,0,80.000,NaN,0,B
378,1,"Widener, Mr. Harry Elkins",male,27.0,0,211.500,C,1,C
523,3,"Lahoud, Mr. Sarkis",male,NaN,0,7.225,C,0,NaN

In [44]:
df_test.head()

,Pclass,Name,Sex,Age,SibSp,Fare,Embarked,SibParch,cabin_letter
PassengerId,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,7.8292,Q,0,NaN
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,7.0000,S,1,NaN
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,9.6875,Q,0,NaN
895,3,"Wirz, Mr. Albert",male,27.0,0,8.6625,S,0,NaN
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,12.2875,S,1,NaN

## Predictions

In [45]:
predictions = pipeline.predict(df_test)

In [46]:
predictions_rf = pipeline_rf.predict(df_test)

In [47]:
output = pd.DataFrame({'PassengerID' : df_test.index, 'Survived' : predictions})

In [48]:
output['Survived'] = output['Survived'].astype(int)
output.to_csv('final.csv', index=False)

In [49]:
output_rf = pd.DataFrame({'PassengerID' : df_test.index, 'Survived' : predictions_rf})

In [50]:
output_rf['Survived'] = output['Survived'].astype(int)
output_rf.to_csv('final_rf.csv', index=False)