# 4.6. Writing Python Functions

#### In programming, a function is a self-contained block of code that performs a specific task or related group of tasks.

### Q. Why should we use functions?

- Don't repeat yourself, avoid repetition
- Use and reuse 
- Functions allow complex problems to be broken into smaller piecies
- combine them
- decrease a mental load for the coder and the reader

In [1]:
a = ['T', 'U', 'N', 'A']

In [2]:
len(a)

4

In [3]:
print(a)

['T', 'U', 'N', 'A']

In [4]:
## You call the function and you pass appropriate arguments.
## It will work the same when you define your python function. - User defined functions

## 1. How to write functions

![Python-Function-Syntax.png](attachment:Python-Function-Syntax.png)


* A function should have a single purpose
* You start with the def keyword
* This is followed by the function_name in lower case with underscores
* Followed by parentheses () and a colon :
* After the : you need to indent the code of the function
* The indented part, the function definition, should always start with a docstring describing what the function does
* Parameters of a function are defined in the ()
* One or more return statements (but not mandatory)

### 1.1 Arguments

In [5]:
# data that you pass into the function

In [6]:
 def fruits(quantity, fruit, price):
    print(f'{quantity} {fruit} cost ${price:.1f}')

In [7]:
fruits(5, 'üçè', 5)    #arguments passed to a function in correct positional order.

5 üçè cost $5.0

The parameters (quantity, fruit, and price) behave like variables that are defined locally to the function. When the function is called, the arguments that are passed (5, 'üçè', and 5) are assiggned to the parameters. 
Be careful about order and number of arguments that you are passing.

In [8]:
 def fruits(quantity, fruit, price):
    print(f'{quantity} {fruit} cost ${price:.3f}')

In [9]:
fruits(quantity=1, fruit='üçè', price=1) #keyword argument

1 üçè cost $1.000

In [11]:
fruits(1,2,3)

1 2 cost $3.000

In [19]:
 def fruits(quantity=1, fruit='üçå', price=0.5):       #default argument
    print(f'{quantity} {fruit} cost ${price:.1f}')

In [20]:
fruits()

1 üçå cost $0.5

In [14]:
fruits(1, 'üçì', 1.5)

1 üçì cost $1.50

### 2. Docstring


* Gives information about the functio*n

In [15]:
 def fruits(quantity, fruit, price):
    """my first doc string
              
     Expectation of the def: a price - should be passed as an integer
     Modifies: the price is 
    returns price of the fruit:  """
        
    print(f'{quantity} {fruit} cost ${price:.2f}')

In [16]:
help(fruits)

Help on function fruits in module __main__:

fruits(quantity, fruit, price)
    my first doc string

     price - should be integer
    returns price of the fruit:

In [22]:
fruits(2, 'üçä', 2)

2 üçä cost $2.0

In [23]:
fruits??

### 3. *args and **kwargs

- If we don't know how many arg do we need

* *args
- list for additional unnamed parameters


* **kwargs
- dict for additional named parameters

In [24]:
def family(name, members, *children):
    """ """
    print(f"My family-name is {name}")
    print(f"There are {members} of us.")
    if children: 
        print(f"And these  are the children {children}.")

In [ ]:
family("Euclidean", 14, "Ada", "Bob", "Tuna")

In [ ]:
# Example how this could be used in the project: 
def scrape_some_artists(*artists):
    """ """

    for a in artists:
        # scrape lyrics for each artist
        print(a)
        
    return artists

In [ ]:
scrape_some_artists('queen', 'beatles', 'dolly parton')

In [ ]:
# **kwargs
# work pretty similar, but we have to give them as keywords

In [ ]:
def family(name, members, *children, **parents):
    """ """
    
    print(f"My family-name is {name}")
    print(f"There are {members} of us.")
    if children: 
        print(f"And there are the children {children}.")
    if parents: 
        print(parents['mum'])
        print(parents['dad'])

In [ ]:
family("Euclidean", 14, "ada", "bob", 'Tuna', dad='Marco', mum='Tina')

In [ ]:
def familys(name, *children, members=5, **parents):      ##put all the param together
    """ """
    
    print(f"My family-name is {name}")
    print(f"There are {members} of us.")
    if children: 
        print(f"And there are the children {children}.")
      
    if parents: 
        for parent in parents:
            print(f"{parents[parent]} is the {parent}.")

In [ ]:
familys("Convex", "ada", {"son":"Bob"}, mum="Ana")

### 4. Return

In [ ]:
def num_square(n) :
    """
    gives back square of numbers
    
    """
    
    square = n**2
    return square

In [ ]:
num_square(2)

In [ ]:
# Two return statements
def count_up(range_number):
    """ """
    
    result= 0
    if range_number > 200:
        return("Too big")
    else: 
        for n in range(range_number):
            result += 0.775
        return (result)

In [ ]:
count_up(100)

# !! Project Example

In [ ]:
# from yesterday notebook BeautifulSoup

In [29]:
spiced = 'https://www.spiced-academy.com/en/program/data-science'

In [28]:
import requests
from bs4 import BeautifulSoup
import pandas as pd


def make_dataframe(url):
    '''
   BeautifulSoup 
    '''
    response = requests.get(url)
    spiced_html = response.text
    spiced_soup = BeautifulSoup(spiced_html)
    ds_curriculum = spiced_soup.find_all(class_ = 'curriculum-mini-section')
    topic = []
    description = []

    for items in ds_curriculum:
        topic.append(items.h3.text)
        description.append(items.find(class_ = "mob-hidden").text)
    
    dataframe = pd.DataFrame({'topic':topic, 'description':description})

    return dataframe

In [30]:
make_dataframe(spiced)

                     topic                                        description
0  Data Analysis in Python  Become fluent in using Python to collect, anal...
1         Machine Learning  Delve into the world of supervised and unsuper...
2               PostgreSQL  Organize data in SQL databases like PostgreSQL...
3      Data Infrastructure  Deploy code on remote servers using Docker and...
4     Software Engineering  Acquire state-of-the-art engineering tools to ...
5               Git & Bash  Use Git and GitHub throughout the course to co...

In [25]:
def even_number_printer(mylist): 
    """ Python program to print the even numbers from a given list."""
    #print(mylist[1::2])

    for i in mylist:
        if i%2 == 0:
            print(i)
        else:
            continue

In [27]:
mylist = [1,2,4,5,6,7,8,9,10,11,44,60]

even_number_printer(mylist)

2
4
6
8
10
44
60

In [60]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]
def my_function(lst):
    for num in lst:
        if num %2 == 0: 
          print(num)
        else:
            continue
# 2 % 2 will result in a 0. Two divided by two results in a 1 with a remainder of 0
# 3 % 2 will result in a 1. Three divided by two results in a 1 with a remainder of 1

In [61]:
my_function(lst)

2
4
6
8

9

In [39]:
#the function checks if the word, numbers are spelled back and forwards the same

def is_palindrome(x):
    return  x == x[::-1]
x = "110011"
ans = is_palindrome(x)
if ans:
    print('Yes')
else :
    print('No')

Yes

**Exercise 4.6.1**

In [62]:
def calc_price(fruit, n):
    '''Returns the price of fruits.'''
    if fruit == 'banana':
        return 0.75 * n

In [64]:
print(calc_price('banana', 10))

7.5

In [63]:
help(calc_price)

Help on function calc_price in module __main__:

calc_price(fruit, n)
    Returns the price of fruits.

**4.6.6. Short functions**

In [78]:
#A Python function does not have to be long to be useful. Many functions are one-liners. 
#For instance, we can define functions identifying odd and even values:

def odd(**x):
    return x % 2

def square(x):
    return x ** 2

In [79]:
odd(x=2,9
    )

SyntaxError: ignored

In [71]:
square(4)

16