In [1]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import FunctionTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline, make_pipeline
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import pandas_profiling

In [2]:
# load data
df = pd.read_csv('train.csv', index_col=0)
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
#pandas_profiling.ProfileReport(df)

In [4]:
sns.pairplot(df, hue='Survived')

#why 4d, and what do the graphs of both axis same ones mean

In [5]:
# split to X, and y
X = df.iloc[:,1:]
y = df['Survived']

#Why iloc[:,1:]?

In [6]:
#missing value check
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 115.8+ KB

In [7]:
df['Embarked'].describe()

count     889
unique      3
top         S
freq      644
Name: Embarked, dtype: object

In [8]:
df['Cabin'].describe()

count         204
unique        147
top       B96 B98
freq            4
Name: Cabin, dtype: object

In [9]:
# feature engineering for numericals
numeric_features = ['Age', 'Fare']

In [10]:
# create a sequential pipeline 
# output of one step will be input to the next 
numeric_transformer = make_pipeline(
    SimpleImputer(strategy="mean"), 
    StandardScaler()
    )

#Need to deep dive

In [11]:
# feature engineering for categorical
categorical_features = ["Embarked", "Sex", "Pclass"]

In [12]:
# handle unknown means it will ignore nan's if it finds them
categorical_transformer = OneHotEncoder(handle_unknown="ignore")

#If train data has all the possible categories, even if test data doesn' have all it's no problem. Just a column which has only 0 is created.
#If train data doesn't have all the possible categories but the test data has the missing one, the data is ignored and the column is not created as train data isn't

#pd.get_dummies only creates columns which are existing cateogories in the test data(even if train data has other categories) 
#Not sure what would happen if train data has more columns than test data after pd.get_dummies and vice versa

In [13]:
# you can also create custom functions
def name_length(df):
    length = df[df.columns[0]].str.len()
    return length.values.reshape(-1, 1)

In [14]:
# pre-process transformations
preprocessor = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer, numeric_features),
        ("cat", categorical_transformer, categorical_features),
        #('name', FunctionTransformer(name_length), ['Name'])
    ],
    remainder='drop') 

#or passthrough. default 'drop'
#Why FunctionTransformer() has name_lengh def. How it works?

In [15]:
# create the model pipeline
pipeline = make_pipeline(preprocessor, LogisticRegression(max_iter=300))

In [16]:
# split data to train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state= 42)

#random_state=42 means when I debug code, every time I get exactly same split between train data and test data
#Could be any number but same number is same split everytime every people

In [17]:
# fit the pipeline to training data
pipeline.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer()),
                                                                  ('standardscaler',
                                                                   StandardScaler())]),
                                                  ['Age', 'Fare']),
                                                 ('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['Embarked', 'Sex',
                                                   'Pclass'])])),
                ('logisticregression', LogisticRegression(max_iter=300))])

In [18]:
# calculate the accuracy score from test data
print("model score: %.3f" % pipeline.score(X_test, y_test))

#e.g. print('%.3f' % 3.14159) prints 3.142

model score: 0.787

In [19]:
# get predictions from the pipeline
print(pipeline.predict(X_test))

[0 0 0 1 1 1 1 0 1 1 0 0 1 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0
 1 1 0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0 1 0 1 1 1 0 1 1 0 0 1 0 0 0 1 1 1 1 1
 0 0 1 1 1 0 0 1 1 0 0 0 1 1 0 0 0 1 0 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1
 0 1 0 0 0 0 0 1 0 0 1 1 0 0 0 1 1 1 0 1 0 0 1 0 1 1 0 0 1 0 1 0 0 1 1 0 0
 1 0 0 0 0 1 0 0 0 1 1 1 0 0 0 1 0 0 0 1 0 0 1 1 0 1 0 0 0 1 1 0 0 0 0 1 1
 0 0 0 0 1 0 0 0 0 1 1 1 0 1 1 0 0 1 0 0 1 0 0 0 0 1 0 1 0 1 0 1 0 1 0 0 1
 0 0 0 1 0 1 1 1 0 1 0 1 0 1 1 1 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 1 1 0 1 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0
 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 1 1 0 1 0 0 0 0 1 1 0 1 1 0 0 0 0
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0]

In [20]:
# get prediction probabilities from the pipeline 
print(pipeline.predict_proba(X_test)[:, 1])

[0.15272219 0.25514263 0.08916494 0.88642452 0.75945853 0.86780248
 0.66954122 0.09822824 0.73151455 0.87499229 0.28131519 0.0542283
 0.50727335 0.14888294 0.23532435 0.88449127 0.25915029 0.66957186
 0.27332686 0.23815041 0.08217803 0.28547248 0.55665993 0.08934971
 0.07450952 0.1124484  0.43917038 0.25597423 0.12650876 0.49001281
 0.09098827 0.5400496  0.49990133 0.49944221 0.0928721  0.15924499
 0.31690293 0.66954122 0.92508265 0.07371716 0.32338893 0.07404931
 0.07373557 0.13904954 0.61398727 0.10079369 0.09102624 0.08405432
 0.08206655 0.37841083 0.79647527 0.79043405 0.06094507 0.43998151
 0.06788883 0.88709915 0.25092826 0.92027746 0.8001314  0.71822083
 0.08734965 0.86704046 0.82519396 0.30716198 0.13904954 0.706451
 0.32338893 0.07414878 0.18946153 0.89144567 0.83153378 0.96028948
 0.51789787 0.917133   0.08386998 0.06493047 0.66351655 0.93844106
 0.7868825  0.43996051 0.10163869 0.81795341 0.92211861 0.13904692
 0.35523874 0.28952983 0.93308383 0.92816473 0.25863257 0.07364009
 0.11339025 0.62047008 0.18102451 0.13904519 0.07371716 0.07569159
 0.23412849 0.05309601 0.79426537 0.07727161 0.16975477 0.0653914
 0.94602854 0.06141259 0.07190553 0.08049619 0.78702747 0.23389429
 0.0728241  0.44058304 0.85339587 0.0881687  0.93283321 0.27637191
 0.38438479 0.08943807 0.28421817 0.40756982 0.84435202 0.4079025
 0.29085388 0.9274453  0.74175224 0.40943434 0.08042827 0.46627909
 0.7818179  0.55038875 0.69307452 0.08738799 0.6695912  0.15272219
 0.25894214 0.63363974 0.40272141 0.75639811 0.93518016 0.07413678
 0.05651484 0.56643113 0.08744145 0.76766613 0.26892058 0.23540215
 0.62874774 0.80682662 0.2602439  0.13566324 0.93885644 0.05538332
 0.15124991 0.08212529 0.09283467 0.67585455 0.07373557 0.07361624
 0.07973383 0.66955573 0.79795479 0.6590602  0.16819873 0.30739458
 0.22350093 0.93206966 0.13919786 0.32255146 0.29049338 0.85336579
 0.0856049  0.06538339 0.54905186 0.85222852 0.27640688 0.78043486
 0.09462908 0.15091633 0.46135462 0.85447187 0.64050307 0.2367666
 0.29139512 0.06969101 0.07887122 0.63609077 0.6216467  0.238168
 0.45215184 0.07371716 0.31073625 0.77154307 0.06584941 0.24733775
 0.09461848 0.07434407 0.7429568  0.8455979  0.93575997 0.24344361
 0.88535434 0.60991351 0.03765066 0.4959393  0.882946   0.32072382
 0.17940178 0.69600495 0.07434206 0.31030845 0.15254411 0.04776203
 0.59065403 0.07255892 0.92078576 0.13904431 0.50727335 0.1301623
 0.83559734 0.39389873 0.83463431 0.07364009 0.07371716 0.83457463
 0.09467924 0.30886693 0.08040241 0.8349364  0.08555359 0.5096705
 0.8376889  0.5179068  0.24602907 0.95765859 0.13904954 0.69037921
 0.07380875 0.54006046 0.82994038 0.56301074 0.93018548 0.28092432
 0.08985286 0.7755248  0.15091633 0.55149998 0.13644859 0.07589316
 0.07373557 0.08387557 0.08551655 0.21216462 0.49760573 0.23741472
 0.13904954 0.17293021 0.25218778 0.07715689 0.08562601 0.78962514
 0.23453868 0.8219542  0.89070576 0.4182662  0.7793083  0.07736724
 0.29760061 0.16676887 0.09485965 0.31352512 0.46211204 0.07371716
 0.65355622 0.23999677 0.21225212 0.31329381 0.81539973 0.07416979
 0.09290894 0.44510345 0.92074347 0.22350093 0.07897396 0.08904077
 0.8703717  0.04813739 0.47992178 0.1364983  0.6695912  0.07559584
 0.39653219 0.12330455 0.09095273 0.11172024 0.80960574 0.69336734
 0.08737056 0.21095634 0.14067969 0.4803704  0.16225306 0.54125097
 0.49555019 0.41632406 0.31910204 0.28591924 0.09669794 0.53454574
 0.06185219 0.40489836 0.1828414  0.28681253 0.31619215 0.82714069
 0.4445907  0.06149789 0.0542283  0.84302681 0.53285156 0.75969829
 0.37457774 0.62152057 0.31054904 0.06970518 0.22742289 0.08735313
 0.73774727 0.53458237 0.06968299 0.66954122 0.55709801 0.13904954
 0.16357009 0.19640484 0.49444659 0.28227329 0.17406112 0.32130973
 0.8928652  0.77742229 0.14090801 0.17735451 0.09857726 0.08918269
 0.1153137  0.07374303 0.13906612 0.07371716 0.88370681 0.0788765
 0.35423551 0.07973383 0.90452132 0.08916494 0.07584261 0.32368115
 0.44046981 0.09485965 0.28112229]