### Install packages

In [1]:
!pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in /Users/stefan/opt/anaconda3/lib/python3.8/site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in /Users/stefan/opt/anaconda3/lib/python3.8/site-packages (from SQLAlchemy) (1.0.0)

Might need to install these.

In [1]:
!pip install psycopg2
!pip install psycopg2-binary

Collecting psycopg2
  Using cached psycopg2-2.9.3.tar.gz (380 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: /Users/stefan/opt/anaconda3/bin/python -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/n_/rccnmmxs0ssffx48cpk07fvr0000gn/T/pip-install-4csm_k0d/psycopg2_4e1f30dfd82f469283d948ff9e6421d4/setup.py'"'"'; __file__='"'"'/private/var/folders/n_/rccnmmxs0ssffx48cpk07fvr0000gn/T/pip-install-4csm_k0d/psycopg2_4e1f30dfd82f469283d948ff9e6421d4/setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' bdist_wheel -d /private/var/folders/n_/rccnmmxs0ssffx48cpk07fvr0000gn/T/pip-wheel-jcf0iw54
       cwd: /private/var/folders/n_/rccnmmxs0ssffx48cpk07fvr0000gn/T/pip-install-4csm_k0d/psycopg2_4e1f30dfd82f469283d948ff9e6421d4/
  Complete output (36 lines):
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build/lib.macosx-10.9-x86_64-3.8
  creating build/lib.macosx-10.9-x86_64-3.8/psycopg2
  copying lib/_json.py -> build/lib.macosx-10.9-x86_64-3.8/psycopg2
  copying lib/extras.py -> build/lib.macosx-10.9-x86_64-3.8/psycopg2
  copying lib/errorcodes.py -> build/lib.macosx-10.9-x86_64-3.8/psycopg2
  copying lib/tz.py -> build/lib.macosx-10.9-x86_64-3.8/psycopg2
  copying lib/_range.py -> build/lib.macosx-10.9-x86_64-3.8/psycopg2
  copying lib/_ipaddress.py -> build/lib.macosx-10.9-x86_64-3.8/psycopg2
  copying lib/__init__.py -> build/lib.macosx-10.9-x86_64-3.8/psycopg2
  copying lib/extensions.py -> build/lib.macosx-10.9-x86_64-3.8/psycopg2
  copying lib/errors.py -> build/lib.macosx-10.9-x86_64-3.8/psycopg2
  copying lib/sql.py -> build/lib.macosx-10.9-x86_64-3.8/psycopg2
  copying lib/pool.py -> build/lib.macosx-10.9-x86_64-3.8/psycopg2
  running build_ext
  building 'psycopg2._psycopg' extension
  creating build/temp.macosx-10.9-x86_64-3.8
  creating build/temp.macosx-10.9-x86_64-3.8/psycopg
  gcc -Wno-unused-result -Wsign-compare -Wunreachable-code -DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes -I/Users/stefan/opt/anaconda3/include -arch x86_64 -I/Users/stefan/opt/anaconda3/include -arch x86_64 -DPSYCOPG_VERSION=2.9.3 (dt dec pq3 ext lo64) -DPSYCOPG_DEBUG=1 -DPG_VERSION_NUM=140001 -DHAVE_LO64=1 -DPSYCOPG_DEBUG=1 -I/Users/stefan/opt/anaconda3/include/python3.8 -I. -I/Applications/Postgres.app/Contents/Versions/14/include -I/Applications/Postgres.app/Contents/Versions/14/include/postgresql/server -I/Applications/Postgres.app/Contents/Versions/14/share/icu -I/Applications/Postgres.app/Contents/Versions/14/include/libxml2 -I/Applications/Postgres.app/Contents/Versions/14/include -I/Applications/Postgres.app/Contents/Versions/14/include -c psycopg/psycopgmodule.c -o build/temp.macosx-10.9-x86_64-3.8/psycopg/psycopgmodule.o
  xcrun: error: active developer path ("/Applications/Xcode.app/Contents/Developer") does not exist
  Use `sudo xcode-select --switch path/to/Xcode.app` to specify the Xcode that you wish to use for command line developer tools, or use `xcode-select --install` to install the standalone command line developer tools.
  See `man xcode-select` for more details.

  It appears you are missing some prerequisite to build the package from source.

  You may install a binary package by installing 'psycopg2-binary' from PyPI.
  If you want to install psycopg2 from source, please install the packages
  required for the build and try again.

  For further information please check the 'doc/src/install.rst' file (also at
  <https://www.psycopg.org/docs/install.html>).

  error: command 'gcc' failed with exit status 1
  ----------------------------------------
  ERROR: Failed building wheel for psycopg2
  Running setup.py clean for psycopg2
Failed to build psycopg2
Installing collected packages: psycopg2
    Running setup.py install for psycopg2 ... error
    ERROR: Command errored out with exit status 1:
     command: /Users/stefan/opt/anaconda3/bin/python -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/n_/rccnmmxs0ssffx48cpk07fvr0000gn/T/pip-install-4csm_k0d/psycopg2_4e1f30dfd82f469283d948ff9e6421d4/setup.py'"'"'; __file__='"'"'/private/var/folders/n_/rccnmmxs0ssffx48cpk07fvr0000gn/T/pip-install-4csm_k0d/psycopg2_4e1f30dfd82f469283d948ff9e6421d4/setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record /private/var/folders/n_/rccnmmxs0ssffx48cpk07fvr0000gn/T/pip-record-gb0hpqpk/install-record.txt --single-version-externally-managed --compile --install-headers /Users/stefan/opt/anaconda3/include/python3.8/psycopg2
         cwd: /private/var/folders/n_/rccnmmxs0ssffx48cpk07fvr0000gn/T/pip-install-4csm_k0d/psycopg2_4e1f30dfd82f469283d948ff9e6421d4/
    Complete output (36 lines):
    running install
    running build
    running build_py
    creating build
    creating build/lib.macosx-10.9-x86_64-3.8
    creating build/lib.macosx-10.9-x86_64-3.8/psycopg2
    copying lib/_json.py -> build/lib.macosx-10.9-x86_64-3.8/psycopg2
    copying lib/extras.py -> build/lib.macosx-10.9-x86_64-3.8/psycopg2
    copying lib/errorcodes.py -> build/lib.macosx-10.9-x86_64-3.8/psycopg2
    copying lib/tz.py -> build/lib.macosx-10.9-x86_64-3.8/psycopg2
    copying lib/_range.py -> build/lib.macosx-10.9-x86_64-3.8/psycopg2
    copying lib/_ipaddress.py -> build/lib.macosx-10.9-x86_64-3.8/psycopg2
    copying lib/__init__.py -> build/lib.macosx-10.9-x86_64-3.8/psycopg2
    copying lib/extensions.py -> build/lib.macosx-10.9-x86_64-3.8/psycopg2
    copying lib/errors.py -> build/lib.macosx-10.9-x86_64-3.8/psycopg2
    copying lib/sql.py -> build/lib.macosx-10.9-x86_64-3.8/psycopg2
    copying lib/pool.py -> build/lib.macosx-10.9-x86_64-3.8/psycopg2
    running build_ext
    building 'psycopg2._psycopg' extension
    creating build/temp.macosx-10.9-x86_64-3.8
    creating build/temp.macosx-10.9-x86_64-3.8/psycopg
    gcc -Wno-unused-result -Wsign-compare -Wunreachable-code -DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes -I/Users/stefan/opt/anaconda3/include -arch x86_64 -I/Users/stefan/opt/anaconda3/include -arch x86_64 -DPSYCOPG_VERSION=2.9.3 (dt dec pq3 ext lo64) -DPSYCOPG_DEBUG=1 -DPG_VERSION_NUM=140001 -DHAVE_LO64=1 -DPSYCOPG_DEBUG=1 -I/Users/stefan/opt/anaconda3/include/python3.8 -I. -I/Applications/Postgres.app/Contents/Versions/14/include -I/Applications/Postgres.app/Contents/Versions/14/include/postgresql/server -I/Applications/Postgres.app/Contents/Versions/14/share/icu -I/Applications/Postgres.app/Contents/Versions/14/include/libxml2 -I/Applications/Postgres.app/Contents/Versions/14/include -I/Applications/Postgres.app/Contents/Versions/14/include -c psycopg/psycopgmodule.c -o build/temp.macosx-10.9-x86_64-3.8/psycopg/psycopgmodule.o
    xcrun: error: active developer path ("/Applications/Xcode.app/Contents/Developer") does not exist
    Use `sudo xcode-select --switch path/to/Xcode.app` to specify the Xcode that you wish to use for command line developer tools, or use `xcode-select --install` to install the standalone command line developer tools.
    See `man xcode-select` for more details.

    It appears you are missing some prerequisite to build the package from source.

    You may install a binary package by installing 'psycopg2-binary' from PyPI.
    If you want to install psycopg2 from source, please install the packages
    required for the build and try again.

    For further information please check the 'doc/src/install.rst' file (also at
    <https://www.psycopg.org/docs/install.html>).

    error: command 'gcc' failed with exit status 1
    ----------------------------------------
ERROR: Command errored out with exit status 1: /Users/stefan/opt/anaconda3/bin/python -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/n_/rccnmmxs0ssffx48cpk07fvr0000gn/T/pip-install-4csm_k0d/psycopg2_4e1f30dfd82f469283d948ff9e6421d4/setup.py'"'"'; __file__='"'"'/private/var/folders/n_/rccnmmxs0ssffx48cpk07fvr0000gn/T/pip-install-4csm_k0d/psycopg2_4e1f30dfd82f469283d948ff9e6421d4/setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record /private/var/folders/n_/rccnmmxs0ssffx48cpk07fvr0000gn/T/pip-record-gb0hpqpk/install-record.txt --single-version-externally-managed --compile --install-headers /Users/stefan/opt/anaconda3/include/python3.8/psycopg2 Check the logs for full command output.
Requirement already satisfied: psycopg2-binary in /Users/stefan/opt/anaconda3/lib/python3.8/site-packages (2.9.3)

### In order to connect to any database, we need 5 things:

In [2]:
from sqlalchemy import create_engine
import psycopg2

1. Host (i.e. IP address of the computer where the database server is installed / running)
2. Port Number (we set this up when we installed postgresql)
3. Username for Database server
4. Password for the Database Username
5. Name of the actual database inside the DB server.

In [3]:
HOST = 'localhost'
PORT = '5433'
USERNAME = 'postgres'
PASSWORD = ' ' 
DB = 'northwind'

### Use the connection string with SQLAlchemy to connect to DB

At this point you are only initialising the connection rather than starting it. It now is initialised for PostgresSQL usage and has a DBAPI that will connect to the actual database.

In [4]:
conn_string = f'postgresql+psycopg2://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/{DB}'

conn_string_mac = f'postgresql+psycopg2://{HOST}:{PORT}/{DB}'

In [5]:
conn_string_mac

'postgresql+psycopg2://localhost:5433/northwind'

In [10]:
engine = create_engine(conn_string_mac)

### We can execute raw SQL query!

In [11]:
query = """
CREATE TABLE neworders2 (
col_1 VARCHAR(50),
col_2 INTEGER,
col_3 REAL
);
"""

Now we can actually connect (check out also the engine.connect)

In [13]:
engine.execute(query)

### Combining this with Pandas

In [14]:
import pandas as pd

Load a table from CSV file to the database

In [15]:
df = pd.read_csv('northwind/orders.csv')

In [16]:
df.head()

,orderID,customerID,employeeID,orderDate,requiredDate,shippedDate,shipVia,freight,shipName,shipAddress,shipCity,shipRegion,shipPostalCode,shipCountry
0,10248,VINET,5,1996-07-04 00:00:00.000,1996-08-01 00:00:00.000,1996-07-16 00:00:00.000,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,France
1,10249,TOMSP,6,1996-07-05 00:00:00.000,1996-08-16 00:00:00.000,1996-07-10 00:00:00.000,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,NaN,44087,Germany
2,10250,HANAR,4,1996-07-08 00:00:00.000,1996-08-05 00:00:00.000,1996-07-12 00:00:00.000,2,65.83,Hanari Carnes,Rua do Paço 67,Rio de Janeiro,RJ,05454-876,Brazil
3,10251,VICTE,3,1996-07-08 00:00:00.000,1996-08-05 00:00:00.000,1996-07-15 00:00:00.000,1,41.34,Victuailles en stock,2 rue du Commerce,Lyon,NaN,69004,France
4,10252,SUPRD,4,1996-07-09 00:00:00.000,1996-08-06 00:00:00.000,1996-07-11 00:00:00.000,2,51.30,Suprêmes délices,Boulevard Tirou 255,Charleroi,NaN,B-6000,Belgium

In [17]:
df.loc[df["shipCity"]=="Rio de Janeiro","shipCity"] = "Rio" 

# .loc[row, column]
#df.loc[1,2] = "...Value..."

In [18]:
df.head()

,orderID,customerID,employeeID,orderDate,requiredDate,shippedDate,shipVia,freight,shipName,shipAddress,shipCity,shipRegion,shipPostalCode,shipCountry
0,10248,VINET,5,1996-07-04 00:00:00.000,1996-08-01 00:00:00.000,1996-07-16 00:00:00.000,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,France
1,10249,TOMSP,6,1996-07-05 00:00:00.000,1996-08-16 00:00:00.000,1996-07-10 00:00:00.000,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,NaN,44087,Germany
2,10250,HANAR,4,1996-07-08 00:00:00.000,1996-08-05 00:00:00.000,1996-07-12 00:00:00.000,2,65.83,Hanari Carnes,Rua do Paço 67,Rio,RJ,05454-876,Brazil
3,10251,VICTE,3,1996-07-08 00:00:00.000,1996-08-05 00:00:00.000,1996-07-15 00:00:00.000,1,41.34,Victuailles en stock,2 rue du Commerce,Lyon,NaN,69004,France
4,10252,SUPRD,4,1996-07-09 00:00:00.000,1996-08-06 00:00:00.000,1996-07-11 00:00:00.000,2,51.30,Suprêmes délices,Boulevard Tirou 255,Charleroi,NaN,B-6000,Belgium

Now write the modified table into the database as table_x... (a new relation).

In [19]:
df.to_sql('orders4', engine)

### Direct SQL changes in the database

We can use the SQL queries directly with the engine.execute instead of working with Pandas. When you have a lot of data and relatively simple operations, this is the better option. Because it is faster.

First let's see the **SCHEMA** information, schema is where the metadata of the databse is stored.

Select table names

In [111]:
query_tablenames = """SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES
WHERE table_schema='public';"""
list(engine.execute(query_tablenames))

# Try it with SELECT * too.

[('categories',),
 ('employee_territories',),
 ('employees',),
 ('order_details',),
 ('products',),
 ('regions',),
 ('shippers',),
 ('suppliers',),
 ('territories',),
 ('customers',),
 ('orders',),
 ('employee_success',),
 ('neworders2',),
 ('orders4',)]

select data types of columns

In [112]:
query_column_type = """SELECT COLUMN_NAME,DATA_TYPE  
FROM INFORMATION_SCHEMA.COLUMNS 
WHERE TABLE_NAME='orders4';
"""

In [90]:
list(engine.execute(query_column_type))

[('index', 'bigint'),
 ('orderID', 'bigint'),
 ('customerID', 'text'),
 ('employeeID', 'bigint'),
 ('orderDate', 'text'),
 ('requiredDate', 'text'),
 ('shippedDate', 'text'),
 ('shipVia', 'bigint'),
 ('freight', 'double precision'),
 ('shipName', 'text'),
 ('shipAddress', 'text'),
 ('shipCity', 'text'),
 ('shipRegion', 'text'),
 ('shipPostalCode', 'text'),
 ('shipCountry', 'text')]

In [91]:
query2 = """
ALTER TABLE orders4 ALTER COLUMN "shipName" TYPE VARCHAR(100);
"""

In [92]:
engine.execute(query2)

In [93]:
query3="DROP table orders4"

In [94]:
engine.execute(query3)

Let's check that the table doesn't exist anymore.

In [95]:
query4="SELECT * FROM orders4"
#engine.execute(query4)

Read suppliers table from postgres to pandas dataframe

In [96]:
query5="SELECT * FROM suppliers"
suppliers = pd.read_sql(query5, engine)
suppliers.head()

,supplierid,companyname,contactname,contacttitle,address,city,region,postalcode,country,phone,fax,homepage
0,1,Exotic Liquids,Charlotte Cooper,Purchasing Manager,49 Gilbert St.,London,NULL,EC1 4SD,UK,(171) 555-2222,NULL,NULL
1,2,New Orleans Cajun Delights,Shelley Burke,Order Administrator,P.O. Box 78934,New Orleans,LA,70117,USA,(100) 555-4822,NULL,#CAJUN.HTM#
2,3,Grandma Kelly's Homestead,Regina Murphy,Sales Representative,707 Oxford Rd.,Ann Arbor,MI,48104,USA,(313) 555-5735,(313) 555-3349,NULL
3,4,Tokyo Traders,Yoshi Nagase,Marketing Manager,9-8 Sekimai Musashino-shi,Tokyo,NULL,100,Japan,(03) 3555-5011,NULL,NULL
4,5,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Export Administrator,Calle del Rosal 4,Oviedo,Asturias,33007,Spain,(98) 598 76 54,NULL,NULL

### Exercises

1. Load the first 3 suppliers from the database to pandas and print the result
2. Load data from a CSV file to the database (pick your choice of data)
3. postgres -> pandas -> postgres
    - Load a table from the database to pandas
    - Add a new column that is based from an old column
    - Save the modified table to a new table name in postgres

References: 

This is a good source when you have a bit more time to read on SQLAlchemy: https://docs.sqlalchemy.org/en/13/core/engines.html

Schema information for POSTGRESQL: https://www.postgresqltutorial.com/postgresql-schema/
https://www.postgresql.org/docs/9.1/ddl-schemas.html