### read the file ../data/penguins_simple.csv

In [2]:
import pandas as pd
df = pd.read_csv('penguins_simple.csv', sep=';')

### Who is the 7th penguin?

In [3]:
df.loc[7]

Species                Adelie
Culmen Length (mm)       41.1
Culmen Depth (mm)        17.6
Flipper Length (mm)     182.0
Body Mass (g)          3200.0
Sex                    FEMALE
Name: 7, dtype: object

### How many Gentoos are in the dataset?

In [4]:
df.groupby('Species').count()

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
Species,,,,,
Adelie,146,146,146,146,146
Chinstrap,68,68,68,68,68
Gentoo,119,119,119,119,119

### Who is the heaviest penguin

In [5]:
df.groupby('Species')['Body Mass (g)'].agg('max')

Species
Adelie       4775.0
Chinstrap    4800.0
Gentoo       6300.0
Name: Body Mass (g), dtype: float64

### What is the mean size of female penguins?

In [6]:
df.groupby('Sex')[['Culmen Length (mm)','Culmen Depth (mm)','Flipper Length (mm)']].agg('mean')

        Culmen Length (mm)  Culmen Depth (mm)  Flipper Length (mm)
Sex
FEMALE           42.096970          16.425455           197.363636
MALE             45.854762          17.891071           204.505952

### How many penguins are heavier than 3kg?

In [7]:
len(df.groupby(df['Body Mass (g)']>3000.000000).groups[True])

323

### Select 3 random penguins.

In [66]:
df.sample(3)

,Species,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
208,Chinstrap,45.7,17.0,195.0,3650.0,FEMALE
327,Gentoo,48.8,16.2,222.0,6000.0,MALE
157,Chinstrap,51.7,20.3,194.0,3775.0,MALE