# Solve with One-Liners

### 1. read the file into a DataFrame

In [87]:
import pandas as pd
df = pd.read_csv('continents.csv', sep=';')
df

         continent    country
0           Africa    Algeria
1           Africa     Angola
2           Africa      Benin
3           Africa   Botswana
4           Africa    Burkina
..             ...        ...
189  South America   Paraguay
190  South America       Peru
191  South America   Suriname
192  South America    Uruguay
193  South America  Venezuela

[194 rows x 2 columns]

### 2. display the number of rows and columns

In [88]:
df.shape

(194, 2)

### 3. display the first 5 countries in the alphabet

In [89]:
df.head(5)

  continent   country
0    Africa   Algeria
1    Africa    Angola
2    Africa     Benin
3    Africa  Botswana
4    Africa   Burkina

### 4. which continent has the most countries?

In [96]:
pd.pivot_table(df, values='country', index='continent', aggfunc=len)

                       country
continent
Africa                      54
Asia                        44
Australia and Oceania       14
Europe                      47
North America               23
South America               12

### 5. find out on which continent Cyprus is

In [97]:
df.loc[df['country']=='Cyprus']

    continent country
108    Europe  Cyprus

### 6. define a DataFrame with all African countries

In [99]:
all_countries = pd.pivot_table(df, values='country', index='continent', aggfunc=list)
Africa = all_countries.drop(['Asia','Australia and Oceania','Europe','North America','South America'])
type(Africa)

pandas.core.frame.DataFrame

### 7. define a DataFrame with countries 80 through 100

In [103]:
df.iloc[80:101,:1]

    continent
80       Asia
81       Asia
82       Asia
83       Asia
84       Asia
85       Asia
86       Asia
87       Asia
88       Asia
89       Asia
90       Asia
91       Asia
92       Asia
93       Asia
94       Asia
95       Asia
96       Asia
97       Asia
98     Europe
99     Europe
100    Europe

### 8. select every second country

In [111]:
df.iloc[1::2]

         continent     country
1           Africa      Angola
3           Africa    Botswana
5           Africa     Burundi
7           Africa  Cape Verde
9           Africa        Chad
..             ...         ...
185  South America       Chile
187  South America     Ecuador
189  South America    Paraguay
191  South America    Suriname
193  South America   Venezuela

[97 rows x 2 columns]