In [12]:
import pandas as pd
ping = pd.read_csv('penguins_simple.csv', sep=';')

In [22]:
ping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Species              333 non-null    object
 1   Culmen Length (mm)   333 non-null    float64
 2   Culmen Depth (mm)    333 non-null    float64
 3   Flipper Length (mm)  333 non-null    float64
 4   Body Mass (g)        333 non-null    float64
 5   Sex                  333 non-null    object
dtypes: float64(4), object(2)
memory usage: 15.7+ KB

In [25]:
ping.head(2)

,Species,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,Adelie,39.1,18.7,181.0,3750.0,MALE
1,Adelie,39.5,17.4,186.0,3800.0,FEMALE

In [ ]:
# 'Species':
# dtype: object & level of measurement : Categorical Variables

# 'Culmen Length (mm)':
# dtype: float64 & level of measurement : Metric Variables

# 'Culmen Depth (mm)':
# dtype: float64 & level of measurement : Metric Variables

# 'Flipper Length (mm) ':
# dtype: float64 & level of measurement : Metric Variables

# 'Body Mass (g)':
# dtype: float64 & level of measurement : Metric Variables

# 'Sex':
# dtype: object & level of measurement : Categorical Variables

In [26]:
ping.describe()

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g)
count,333.000000,333.000000,333.000000,333.000000
mean,43.992793,17.164865,200.966967,4207.057057
std,5.468668,1.969235,14.015765,805.215802
min,32.100000,13.100000,172.000000,2700.000000
25%,39.500000,15.600000,190.000000,3550.000000
50%,44.500000,17.300000,197.000000,4050.000000
75%,48.600000,18.700000,213.000000,4775.000000
max,59.600000,21.500000,231.000000,6300.000000

In [ ]:
# by using dataframe.describe() some of statistics could be calculated