In [53]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/penguins_simple.csv',sep=";")
df

    Species  Culmen Length (mm)  ...  Body Mass (g)     Sex
0    Adelie                39.1  ...         3750.0    MALE
1    Adelie                39.5  ...         3800.0  FEMALE
2    Adelie                40.3  ...         3250.0  FEMALE
3    Adelie                36.7  ...         3450.0  FEMALE
4    Adelie                39.3  ...         3650.0    MALE
..      ...                 ...  ...            ...     ...
328  Gentoo                47.2  ...         4925.0  FEMALE
329  Gentoo                46.8  ...         4850.0  FEMALE
330  Gentoo                50.4  ...         5750.0    MALE
331  Gentoo                45.2  ...         5200.0  FEMALE
332  Gentoo                49.9  ...         5400.0    MALE

[333 rows x 6 columns]

In [36]:
print('The 7th pengiun is an:', df["Species"][7])
#print('The 7th pengiun is an:', df.iloc[6])

The 7th pengiun is an: Adelie

In [19]:
#@markdown How many Gentoos are in the dataset?

In [37]:
df.loc[df["Species"]=="Gentoo"].count()

Species                119
Culmen Length (mm)     119
Culmen Depth (mm)      119
Flipper Length (mm)    119
Body Mass (g)          119
Sex                    119
dtype: int64

In [27]:
#@markdown Who is the heaviest penguin?

In [55]:
#df_max = df.loc[df['Body Mass (g)']=="max"]
df_max = df['Body Mass (g)'].max()
df_max

6300.0

In [47]:
g1 = df.groupby('Body Mass (g)')
g1.max()

                 Species  Culmen Length (mm)  ...  Flipper Length (mm)     Sex
Body Mass (g)                                 ...
2700.0         Chinstrap                46.9  ...                192.0  FEMALE
2850.0            Adelie                36.5  ...                184.0  FEMALE
2900.0         Chinstrap                43.2  ...                188.0  FEMALE
2925.0            Adelie                37.9  ...                193.0  FEMALE
3000.0            Adelie                37.3  ...                192.0  FEMALE
...                  ...                 ...  ...                  ...     ...
5850.0            Gentoo                55.1  ...                230.0    MALE
5950.0            Gentoo                49.8  ...                229.0    MALE
6000.0            Gentoo                51.1  ...                222.0    MALE
6050.0            Gentoo                59.6  ...                230.0    MALE
6300.0            Gentoo                49.2  ...                221.0    MALE

[93 rows x 5 columns]